# Python files
__pycache__/
venv/

# Editor files
.idea

# Mypy cache
.mypy_cache/

# Pyinstaller files
*.spec
build/
dist/

# Log and save files
logs/
saves/

# Aseprite project
aseprite/

# Temp files
game/resources-TEMP/
