# Build/distribution/packaging
**/build*/
*.egg
*.egg-info/
.Python
.eggs/
.installed.cfg
MANIFEST
__pypackages__/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
share/python-wheels/
var/
wheels/
window.build/
window.dist/

# Byte-compiled/optimized/DLL files
*$py.class
*.py[cod]
__pycache__/

# C/C++ extensions
*.pyd
*.so

# Documentation
/site
docs/_build/

# Editor files
.idea/
.vscode/

# Environments
.env
.venv
ENV/
env.bak/
env/
venv.bak/
venv/

# Logs/saves
logs/
pip-delete-this-directory.txt
pip-log.txt
saves/

# Type checking
.dmypy.json
.mypy_cache/
.pyre/
.pytype/
dmypy.json

# Unit test/coverage reports
*.cover
*.py,cover
.cache
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.tox/
cover/
coverage.lcov
coverage.xml
htmlcov/
nosetests.xml
