# Python files
__pycache__/
.venv/

# Editor files
.idea/

# Testing files
htmlcov/
.tox/
.pytest_cache/
.coverage
coverage.xml
coverage.lcov

# Mypy files
.mypy_cache/

# Log and save files
logs/
saves/

# Nuitka files
window.build/
window.dist/

# Aseprite project
aseprite/

# Temp files
hades/TEMP-FILES/
