Checks: "
  bugprone-*,
  -bugprone-easily-swappable-parameters,

  cert-*,
  -cert-err58-cpp

  clang-analyzer-*,

  cppcoreguidelines-*,

  google-*,

  hicpp-*,

  misc-*,

  modernize-*,

  performance-*,

  portability-*,

  readability-*,

"
WarningsAsErrors: "*"
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
  - key: readability-identifier-length.IgnoredParameterNames
    value: "^[ijkxy_]$"
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: "^[ijkxy_]$"
