name: Build

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.1
      - name: Set up Python 3.11
        uses: actions/setup-python@v4.7.1
        with:
          python-version: 3.11
      - name: Install Poetry
        uses: snok/install-poetry@v1.3.4
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Install Python dependencies
        run: |
          poetry --version
          poetry install --no-interaction
      - name: Build the game
        run: python -m build --executable
      - name: Upload the release
        uses: svenstaro/upload-release-action@2.7.0
        with:
          file: hades.zip
