name: Build

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
      - name: Set up Python 3.12
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.12
      - name: Build the game
        run: pipx run nox -s executable
      - name: Upload the release
        uses: svenstaro/upload-release-action@2.11.3
        with:
          file: hades.zip
