name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  python:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.10", "3.11"]
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install tox tox-gh-actions
      - name: Install EGL on Linux for headless Arcade
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install libegl1
      - name: Run Tox
        run: tox
      - name: Upload coverage report
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage.lcov
  cpp:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1
      - name: Set up CMake
        uses: lukka/get-cmake@v3.25.2
      - name: Configure and build CMake
        uses: lukka/run-cmake@v3
        with:
          cmakeListsTxtPath: "${{ github.workspace }}/src/hades_extensions/CMakeLists.txt"
          buildDirectory: "${{ github.workspace }}/build"
      - name: Run CTest
        run: ctest --output-on-failure --test-dir ${{ github.workspace }}/build/tests
